* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

.center {
    height: 100vh;
    width: 100vw;
}

.left {
    display: inline-block;
    width: 60%;
    padding: 136px;
    margin-top: 5%;
}

.right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 15%;
    right: 130px;
}

h1 {
    width: 368px;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;

}

p {
    width: 540px;
    font-size: 20px;
    line-height: 40px;
    color: #5D5D7D;
    opacity: 0.6;
    margin: 15px 0;
}

button {
    width: 269px;
    height: 50px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.9);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

a {
    font-size: 28px;
    line-height: 100%;
    margin-right: 41px;
    color: #5D5D7D;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: .4;
}

a:active {
    opacity: .4;
}

a:hover {
    opacity: .8;
}

header {
    margin: 34px 0 0 57px;
}

@media screen and (max-width:1050px) {
    .left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}